.login {
  .mat-form-field-label {
    color: #fff;
  }

  .mat-input-element {
    color: #fff;
  }

  .mat-form-field-underline {
    background-color: #fff;
  }

  .mat-icon {
    color: #fff;
    fill: #fff;
  }
}