.featured-drafter {
  &__table {
    width: 100%;

    td {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  &__avatar {
    max-width: 50px;
    display: inline-block;
    margin-right: 2em;
    vertical-align: middle;
  }
  
  &__no-data {
    text-align: center;
  }

  &__table-row {
    transition: all .2s ease;
    &:hover {
      cursor: pointer;
      background-color: rgba(#333, .1);
    }
  }

}

.progress-bar {
  height: 10px;
}