<table mat-table [dataSource]="drafters" class='featured-drafter__table'>
  <ng-container matColumnDef='drafter'>
    <th mat-header-cell *matHeaderCellDef>Drafter</th>
    <td mat-cell *matCellDef="let drafter">
      <img 
        class='featured-drafter__avatar'
        [src]="drafter.avatarLink" 
        alt="avatar"
      >
      {{ drafter.fullname }}
    </td>
  </ng-container>

  <ng-container matColumnDef='status'>
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let drafter">
    {{ drafter.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef='overview'>
    <th mat-header-cell *matHeaderCellDef>
      <div class="request-drawings-table__overview-heading">
        Overview
      </div>
    </th>
    <td mat-cell *matCellDef="let drafter">
      <mat-progress-bar mode="determinate" [value]="(drafter.completedTasks.length/drafter.drawingRequests.length) * 100" class='progress-bar'></mat-progress-bar>
      {{ drafter.completedTasks.length }} Completed : {{ drafter.drawingRequests.length }} Assigned
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr (click)="handleDrafterClicked(drafter)" mat-row *matRowDef="let drafter; columns: columnsToDisplay" class='featured-drafter__table-row'></tr>
</table>

<div class='featured-drafter__no-data' *ngIf='drafters.length == 0 && !loading'>
  <p>No drafter found...</p>
</div>

<content-loader [style]='{width: "100%"}' height="90" *ngIf='loading'>
  <svg:rect x="10" y="0" width='20' height='20'/>
  <svg:rect x="40" y="8" rx="3" ry="3" width="100%" height="5" />
  <svg:rect x="10" y="25" width='20' height='20'/>
  <svg:rect x="40" y="33" rx="3" ry="3" width="100%" height="5" />
  <svg:rect x="10" y="50" width='20' height='20'/>
  <svg:rect x="40" y="58" rx="3" ry="3" width="100%" height="5" />
</content-loader>
