<div class="ajax-autocomplete">
  <input matInput [formControl]='searchTermInput' autocomplete="off" [matAutocomplete]="auto">
  <mat-autocomplete #auto='matAutocomplete' [displayWith]='displayFn' (optionSelected)='handleOptionSelected($event)'>
    <mat-option *ngIf="loading" class="loading">
      <div class="ajax-autocomplete__loader-container">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
    </mat-option>
    <ng-container *ngIf='searchTermInput.value && options.length === 0 && !loading'>
      <mat-option>
        <ng-content select='[empty-options]'></ng-content>
      </mat-option>
    </ng-container>
    <ng-container *ngIf='!loading && !searchTermInput.value'>
      <mat-option>
        Start typing to search...
      </mat-option>
    </ng-container>
    <ng-container *ngIf='!loading && options.length > 0'>
      <mat-option *ngFor="let option of options" [value]="option">
        {{ displayFn(option) }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</div>
