<h1 mat-dialog-title>Request Drawing</h1> 
<form [formGroup]="requestDrawingForm">
  <mat-dialog-content>
    <div class="new-drawing-request">
      <mat-form-field class='form-control'>
        <mat-label>Subject: </mat-label>
        <input matInput type="text" formControlName='subject'>
      </mat-form-field>
      <mat-form-field class='form-control'>
        <mat-label>Target Date:</mat-label>
        <input matInput [matDatepicker]="targetDate" formControlName='targetDate'>
        <mat-datepicker-toggle matSuffix [for]="targetDate"></mat-datepicker-toggle>
        <mat-datepicker #targetDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class='form-control'>
        <mat-label>Drafter: </mat-label>
        <mat-select formControlName='drafter'>
          <mat-option
            *ngFor='let drafter of drafters'
            [value]='drafter.id'
          >
            {{ drafter.fullname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class='form-control'>
        <mat-label>Original Drawing File:</mat-label>
        <upload-input formControlName='drawingFile'></upload-input>
      </mat-form-field>
      <mat-form-field class='form-control'>
        <mat-label>Comments:</mat-label>
      <textarea matInput id="" cols="20" rows="5" formControlName='comments'></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color='warn' type='button' (click)='closeDialog()'>Close</button>
    <button mat-raised-button color='primary' type='button' [disabled]='!requestDrawingForm.valid || isSubmitting' (click)='processForm(); $event.preventDefault()'>Save</button>
  </mat-dialog-actions>
</form>